:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #4a4740;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #222222;
    background-color: white;
}

.hero {
    position: relative;
}

header {
    background-color: var(--accent1-color);
}

main,
footer {
    background-color: #333333;
    color: white;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav a {
    color: white;
}

section {
    background-color: #f4a261;
    color: #222222;
}

p,
article {
    margin: 16px;
    padding: 8px;
}

.SocialMedia a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

.hero article {

    color: #222222;
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.95);
}

.hero article img {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 15px;
}