main {
    width: 900px;
    max-width: fit-content;

}

h1 {
    color: blueviolet;
}

aside {

    width: 25rem;
    margin: 1rem;
    border: 1px solid blueviolet;
    padding: 12px;
    background-color: rgb(28, 110, 161);
    color: white;
}

nav a {
    background-color: antiquewhite;
    padding: 12px;
    display: block;
}

nav {
    background-color: antiquewhite;
    padding: 12px;
}

aside img {
    width: 200px;
    height: auto;

}

main img {
    width: 150px;
    border: 12px;
    padding: 20px;
    box-shadow: 0cqi;
    height: auto;
}

p {

    padding: 0;
}

footer {

    margin-top: 15px;
    border-top: 12px;
    text-align: center;

}